/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    width: 10%;
    height: 10%;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(bg.jpeg);
    background-size: cover;
    background: no-repeat;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.products  {
    padding: 0px;
    text-align: center;
}

.product {
    margin-bottom: 30px;
}

.product img {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

.about {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
